<div class="big-container">
<div class="dropdown-container">
  <div class="dropdown-toggler"(click)="toggleDropdown()">My information</div>
  <div class="dropdown" *ngIf="isDropDownOpened">
    <div class="dropdown-item">My name is Anastas Prevenda, i am from Greece and the last 3 years i am studing software engineering in Plovdiv</div>
  </div>
</div>
<div class="dropdown-container">
  <div class="dropdown-toggler"(click)="toggleDropdown1()">Hobbies and intresses</div>
  <div class="dropdown" *ngIf="isDropDownOpened1">
    <div class="dropdown-item">My hobbies are drawing and listening to music my intresses are coding and 3D modeling!</div>
  </div>
</div>
<div class="dropdown-container">
  <div class="dropdown-toggler"(click)="toggleDropdown2()">Link for favorite Creator</div>
  <div class="dropdown" *ngIf="isDropDownOpened2">
    <div class="dropdown-item-link"><a href="https://www.youtube.com/@Unboxholics" style=" color: rgb(63, 63, 63);" >Unboxholics</a></div>
  </div>
</div>
<div class="dropdown-container">
  <div class="dropdown-toggler"(click)="toggleDropdown3()">About my channel</div>
  <div class="dropdown" *ngIf="isDropDownOpened3">
    <div class="dropdown-item">My channel is going to consist various content about 3D modeling tutorials, such as topology, model rigging, texture creation, animations and many more! </div>
  </div>
</div>
<div class="dropdown-container">
  <div class="dropdown-toggler"(click)="toggleDropdown4()">Pricing</div>
  <div class="dropdown" *ngIf="isDropDownOpened4">
    <div class="dropdown-item">Free of Charge 😊</div>
  </div>
</div>
</div>
